.NewProducts {
  position: relative;
}

.NewProducts .inner {
  display: flex;
  gap: 30px;
}

.NewProducts .inner .left {
  flex: 1;
  background: #f00;
}

.NewProducts .inner .right {
  flex: 3;
  background: #333;
}

.NewProducts .inner .left {
  flex: 1;
  background: #f00;
}